@import "../../../../../../../stylesheets/init";

.root {
  position: relative;

  .button {
    position: relative;
    display: flex;
    flex: 0 0;
    align-items: center;
    padding: 5px 0;
    white-space: nowrap;
    cursor: pointer;

    .text {
      margin-left: 5px;
      font-size: 14px;
    }
  }

  .badge {
    position: absolute;
    top: 50%;
    left: -1px;
    width: 13px;
    height: 13px;
    margin-top: -12px;
    background-color: rgb(var(--redColor));
    border: 1px solid rgb(var(--whiteColor));
    border-radius: 9999px;
    box-shadow: rgb(var(--redColor)) 0 0 0 1px;
  }
}

.menu {
  position: absolute;
  top: $navHeight - 5px;
  right: 0;
  width: 250px;
  color: rgb(var(--frontColor));
  background-color: rgb(var(--backColor));
  border-radius: 3px;
  box-shadow: $mainBoxShadow;

  &::after {
    position: absolute;
    right: 7px;
    bottom: 100%;
    display: block;
    width: 0;
    height: 0;
    content: '';
    border-color: transparent transparent rgb(var(--backColor)) transparent;
    border-style: solid;
    border-width: 0 6px 6px 6px;
  }

  .items {
    max-height: 70vh;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .item {
    font-size: 14px;
    line-height: $mainLineHeight;

    &:not(:last-child) {
      border-bottom: 1px solid rgb(var(--paleGrayColor));
    }
  }
}
