.c-toTopButton {
  width: 100px;
  text-align: center;
  cursor: pointer;
  background-color: rgba(var(--grayColor), 0.8);
  border-radius: 10px 10px 0 0;

  &:hover {
    filter: $hoverFilter;
  }
}
