@import "../../../../stylesheets/init";

.root {
  display: flex;
  width: 100%;
  color: rgb(var(--whiteColor));
  cursor: pointer;
  border-radius: 5px;
  box-shadow: $mainBoxShadow;
}

.icon {
  display: flex;
  flex: 0 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.content {
  flex: 1 1;
  padding: 15px 15px 15px 0;
  font-size: 16px;
  line-height: $mainLineHeight;
}

.closeButton {
  display: flex;
  flex: 0 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  border-left: 1px solid rgba(var(--whiteColor), 0.3);
  border-radius: 0 5px 5px 0;
}
