.c-fab {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: $zIndexFAB;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  color: $whiteColor;
  cursor: pointer;
  background-color: $mainColor;
  border-radius: 9999px;
  box-shadow: rgba($blackColor, 0.2) 0 0 5px 1px;
  transition: background-color $mainAnimationDuration;

  &:hover {
    background-color: lighten($mainColor, 5);
  }
}
