@import "../../../stylesheets/init";

.root {
  box-sizing: border-box;
  width: 200px;
  padding: 3px;
  font-size: 12px;
  color: rgb(var(--blackColor));
  text-align: center;
  cursor: pointer;
  background-color: rgba(var(--grayColor), 0.95);
  border-radius: 9999px;

  &:hover {
    filter: $hoverFilter;
  }
}
