.c-menu {
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(var(--trueBlackColor), 0.8);
  transition: opacity $mainAnimationDuration;

  .c-menu:not(.-active) & {
    pointer-events: none;
    opacity: 0;
  }
}

.list {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 200px;
  color: rgb(var(--frontColor));
  background-color: rgb(var(--backColor));
  transition: transform $mainAnimationDuration;

  .c-menu:not(.-active) & {
    transform: translateX(100%);
  }

  .item {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    cursor: pointer;
    border-bottom: 1px solid rgb(var(--weakBackColor));

    &:hover {
      background-color: rgb(var(--weakBackColor));
    }

    .text {
      margin-left: 10px;
      font-size: 16px;
      line-height: 1.2;
    }
  }
}

.author {
  text-align: center;

  .author_image {
    margin-bottom: 10px;

    img {
      width: 150px;
      height: 150px;
      overflow: hidden;
      border-radius: 9999px;
    }
  }

  .author_name {
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
  }

  .author_role {
    margin-bottom: 5px;
    font-size: 14px;
    color: rgb(var(--grayColor));
  }

  .author_sns {
    img {
      width: 40px;
    }
  }
}
