@import '../../../../../../../stylesheets/init';

.root {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zIndexInstanceModal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(var(--trueBlackColor), 0.8);
}

.scrollArea {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-height: 100%;
  overflow-y: auto;

  .verticalSpacer {
    height: 90px;
  }

  .main {
    display: flex;

    .instance {
      flex: 1 1;
    }

    .sideSpacer {
      flex: 0 0 10%;
    }
  }
}
