.c-instanceList {
  height: 100%;
}

.scroller {
  box-sizing: border-box;
  height: 100%;
  padding-top: 30px;

  // hammer.jsの横スワイプを検知するために必要
  touch-action: pan-y;

  @include mqPc {
    &::after {
      display: block;
      height: 80px;
      content: '';
    }
  }

  @include mqSp {
    &::after {
      display: block;
      height: 120px;
      content: '';
    }
  }
}

.filterArea {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 30px 35px;
  border-bottom: 1px solid rgb(var(--grayColor));

  > * {
    padding-bottom: 10px;
  }
}

.toggleButtonGroup {
  display: inline-flex;
  align-items: center;
  line-height: 0;

  .toggleButtonGroup_toggle {
    margin-right: 10px;
  }

  .toggleButtonGroup_label {
    font-size: 18px;
    line-height: 1.2;
    color: rgb(var(--weakFrontColor));
  }
}

.sortGroup {
  display: flex;
  align-items: center;

  .sortGroup_title {
    margin-right: 10px;
    font-size: 20px;
  }

  .sortGroup_select {

  }
}

.item {
  padding: 15px 30px 15px;
}

.toTop {
  position: fixed;
  top: $navHeight + 10px;
  left: 50%;
  transform: translateX(-50%);
}
