.c-instanceList {
  height: 100%;
}

.scroller {
  box-sizing: border-box;
  height: 100%;
  padding: 30px 30px 80px;

  // hammer.jsの横スワイプを検知するために必要
  touch-action: pan-y;
}

.item {
  padding-bottom: 30px;
}
