@import '../../../../../../../stylesheets/init';

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.worldImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tag {
  position: absolute;
  top: 0;
  left: 0;
}

.userNum {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 10px;
  font-size: 15px;
  color: rgb(var(--whiteColor));
  background-color: rgba(var(--blackColor), 0.8);

  .current {
    font-size: 20px;
    line-height: 1.7;
  }

  .capacity {
    font-size: 14px;
  }

  &.full {
    background-color: rgba(var(--redColor), 0.8);
  }
}

.worldName {
  position: relative;
  box-sizing: border-box;
  max-width: 90%;
  padding: 10px 15px;
  margin-bottom: 30px;
  overflow: hidden;
  font-size: 26px;
  font-weight: bold;
  color: rgb(var(--whiteColor));
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: rgba(var(--blackColor), 0.9);
}

.instanceButtonArea {
  position: absolute;
  right: 10px;
  bottom: 15px;
  left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instanceButtonGroup {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 300px;
  height: 50px;
  overflow: hidden;
  background-color: rgb(var(--backColor));
  border-radius: 5px;
  box-shadow: $mainBoxShadow;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background-color: rgba(var(--frontColor), 0.2);
    border-radius: inherit;
  }

  .instanceButtonGroupItem {
    position: relative;
    flex: 1 1 100%;

    &.watch {
      flex-basis: 40%;
    }

    &:not(:last-child) {
      margin-right: 1px;
    }
  }
}
