$tmpSideWidth: 250px;

.c-home {
  position: relative;
  height: 100%;
}

.side {
  $tmpHeaderHeight: 46px;

  position: fixed;
  top: $navHeight;
  bottom: 0;
  left: 0;
  z-index: $zIndexSideMenu;
  width: $tmpSideWidth;
  background-color: #fff;

  .header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    box-sizing: border-box;
    height: $tmpHeaderHeight;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: $paleGrayColor;
  }

  .content {
    box-sizing: border-box;
    height: 100%;
    padding-top: $tmpHeaderHeight;
  }
}

.main {
  box-sizing: border-box;
  height: 100%;
  margin-left: $tmpSideWidth;
}
