#app {
  .navBar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: $zIndexGlobalNav;
    display: flex;
    align-items: center;
    height: $navHeight;
    padding: 0 10px;
    color: $whiteColor;
    background-color: $mainColor;
    box-shadow: rgba($blackColor, 0.2) 0 0 5px 0;

    .appTitle {
      flex: 0 0;
      font-size: 20px;
      font-weight: bold;
      white-space: nowrap;
    }

    .spacer {
      flex: 1 1 100%;
    }
  }

  .main {
    padding-top: $navHeight;
  }
}
