.user {
  text-align: center;
}

.userImage {
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.userName {
  margin-top: 10px;
  font-size: 14px;
}

.loading {
  text-align: center;
  padding: 10px 0;
}
