@import '../../../../../../../stylesheets/init';

.root {
  position: relative;
  padding-top: 100%;
}

.userImage {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.owner {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px 5px;
  font-size: 12px;
  color: rgb(var(--whiteColor));
  background-color: rgb(var(--greenColor));
}

.favorite {
  position: absolute;
  top: 2px;
  right: 2px;
  cursor: pointer;
  transition: transform $mainAnimationDuration, opacity $mainAnimationDuration;

  .favoriteLoadingSpinner {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    vertical-align: top;
    background-color: rgb(var(--whiteColor));
    border-radius: 9999px;
  }
}

.userDetail {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 8px 20px;
  color: rgb(var(--whiteColor));
  text-align: center;
  background-color: rgba(var(--blackColor), 0.8);

  .displayName {
    overflow: hidden;
    font-size: 14px;
    line-height: 1.2;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
