.c-select {
  position: relative;
  display: inline-block;
  font-size: 20px;
  line-height: 1;
  vertical-align: middle;
}

select {
  padding: 10px 35px 10px 25px;
  cursor: pointer;
  border: 1px solid $grayColor;
  border-radius: 3px;
}

.arrow {
  position: absolute;
  top: 50%;
  right: 0;
  pointer-events: none;
  transform: translateY(-50%);
}
