.t-fade-enter-active,
.t-fade-leave-active {
  transition: opacity $mainAnimationDuration;
}

.t-fade-enter,
.t-fade-leave-to {
  opacity: 0;
}

.t-up-enter-active,
.t-up-leave-active {
  transition: transform $mainAnimationDuration;
}

.t-up-enter,
.t-up-leave-to {
  transform: translateY(100%);
}
