.t-fade-enter-active,
.t-fade-leave-active {
  transition: opacity $mainAnimationDuration;
}

.t-fade-enter,
.t-fade-leave-to {
  opacity: 0;
}

.t-up-enter-active,
.t-up-leave-active {
  transition: transform $mainAnimationDuration;
}

.t-up-enter,
.t-up-leave-to {
  transform: translateY(100%);
}

.t-fadeDown-enter-active,
.t-fadeDown-leave-active {
  transition: transform $mainAnimationDuration, opacity $mainAnimationDuration;
}

.t-fadeDown-enter,
.t-fadeDown-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}

.t-scalingFromLeftTop-enter-active,
.t-scalingFromLeftTop-leave-active {
  transition: transform $mainAnimationDuration, opacity $mainAnimationDuration;
  transform-origin: left top;
}

.t-scalingFromLeftTop-enter,
.t-scalingFromLeftTop-leave-to {
  opacity: 0;
  transform: scale(0);
}

.t-scalingFromLeftBottom-enter-active,
.t-scalingFromLeftBottom-leave-active {
  transition: transform $mainAnimationDuration, opacity $mainAnimationDuration;
  transform-origin: left bottom;
}

.t-scalingFromLeftBottom-enter,
.t-scalingFromLeftBottom-leave-to {
  opacity: 0;
  transform: scale(0);
}

.t-scalingFromRightTop-enter-active,
.t-scalingFromRightTop-leave-active {
  transition: transform $mainAnimationDuration, opacity $mainAnimationDuration;
  transform-origin: right top;
}

.t-scalingFromRightTop-enter,
.t-scalingFromRightTop-leave-to {
  opacity: 0;
  transform: scale(0);
}

.t-scalingFromRightBottom-enter-active,
.t-scalingFromRightBottom-leave-active {
  transition: transform $mainAnimationDuration, opacity $mainAnimationDuration;
  transform-origin: right bottom;
}

.t-scalingFromRightBottom-enter,
.t-scalingFromRightBottom-leave-to {
  opacity: 0;
  transform: scale(0);
}
