// font
$mainFontSize: 16px;
$mainLineHeight: 1.6;
$mainFontFamily: 'Roboto', 'Noto Sans JP', sans-serif;

// animation
$mainAnimationDuration: 0.25s;

// z-index
$zIndexFAB: 50;
$zIndexSideMenuPc: 100;
$zIndexGlobalNav: 150;
$zIndexSideMenuSp: 170;
$zIndexInstanceModal: 180;
$zIndexMenu: 190;
$zIndexDialog: 200;
$zIndexToast: 250;
$zIndexFullLoader: 300;

// size
$navHeight: 50px;

// hover effect
$hoverFilter: brightness(115%);

// box shadow
$mainBoxShadow: rgba(var(--trueBlackColor), 0.2) 0 0 5px 0;
$weakBoxShadow: rgba(var(--trueBlackColor), 0.1) 0 0 3px 0;
$strongBoxShadow: rgba(var(--trueBlackColor), 0.2) 0 0 7px 1px;
