@import '../../../stylesheets/init';

.root {
  position: fixed;
  bottom: 10px;
  z-index: $zIndexFAB;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  cursor: pointer;
  border-radius: 9999px;
  box-shadow: $strongBoxShadow;
  transition: filter $mainAnimationDuration;

  &:hover {
    filter: $hoverFilter;
  }

  &.left {
    left: 10px;
  }

  &.right {
    // スクロールバー分左にずらす
    right: 25px;

    // スマホではスクロールバーないので10px
    @include mqSp {
      right: 10px;
    }
  }
}
