.filterArea {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 30px 35px;
  border-bottom: 1px solid rgb(var(--grayColor));

  > * {
    padding-bottom: 10px;
  }
}

.toggleButtonGroup {
  display: inline-flex;
  align-items: center;
  line-height: 0;

  .toggleButtonGroupToggle {
    margin-right: 10px;
  }

  .toggleButtonGroupLabel {
    font-size: 18px;
    line-height: 1.2;
    color: rgb(var(--weakFrontColor));
  }
}

.sortGroup {
  display: flex;
  align-items: center;

  .sortGroupTitle {
    margin-right: 10px;
    font-size: 20px;
  }

  .sortGroupSelect {
  }
}
